@{
    ViewData["Title"] = "Home";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Clickable tabs -->
<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="height:500px;width:130px">
    <h5 class="w3-bar-item">Menu</h5>
    <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'instructorInfo')">Instructor Information</button>
    <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'instructorBids')">Bids</button>
    <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'moduleTab')">Modules</button>
</div>

<!-- Info in tabs -->
<div style="margin-left:130px">
    <div class="w3-padding" style="font-size:24px">Administrator Page</div>

    <div id="instructorInfo" class="w3-container tabType w3-animate-right" style="display:none">
        <p>
            <table class="table"> 
                <thead>
                    <tr>
                        <th>
                            <p>View and Edit Instructors</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
@foreach (var instructor in ViewBag.ViewInstructors) {
                    <tr>
                        <td>
                            @instructor.firstName
                            @instructor.lastName
                            <p style="font-size:11px"> -Level: @instructor.Level</p>
                        </td>
                        <td class="text-right" style="font-size:15px">
                            @Html.ActionLink("Edit", "EditInstructor", "Admin", new {Id = instructor.Id})
                        </td>
                    </tr>
}
                </tbody>
            </table>
        </p>
    </div>

    <div id="instructorBids" class="w3-container tabType w3-animate-right" style="display:none">
        <p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>View Bids</p>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
@foreach (var module in ViewBag.ActiveBids) {
                    <tr>
                        <td>
                            @module.ModuleName
                            (@module.ModuleCode)
                            <p style="font-size:11px"> -Academic Year: @module.AcademicYear
                                <br> -Semester: @module.Semester
                            </p>
                        </td>
                        <td>
                            <style type='text/css'>
                            /* CSS to defines your number of messages */
                            .bidNotifs {
                                display: inline-block;
                                background: red;
                                text-align: center;
                                color: #FFF;
                                border-radius: 50%;
                                width: 24px;
                                height: 24px;
                                line-height: 26px;
                                }
                            </style>

                            <div style="cursor: pointer;" id="UnreadBids" runat="server" class="bidNotifs">
                                @GetUnreadMessages(@module.Id)
                                @Html.ActionLink("View", "ViewBidders", "Admin", new {Id = module.Id})
                            </div>
                        </td>
                    </tr> 
}
                </tbody>
            </table>
        </p>
    </div>

    <div id="moduleTab" class="w3-container tabType w3-animate-right" style="display:none">
        <p>
            <table class="table"> 
                <thead>
                    <tr>
                        <th>
                            <p>View and Edit Modules</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
@foreach (var module in ViewBag.ViewModules) {
                    <tr>
                        <td>
                            @module.ModuleName
                            (@module.ModuleCode)
                            <p style="font-size:11px"> -Academic Year: @module.AcademicYear
                                <br> -Semester: @module.Semester
                            </p>
                        </td>
                        <td class="text-right" style="font-size:15px">
                            @Html.ActionLink("Edit", "EditModule", "Admin", new {Id = module.Id})
                        </td>
                    </tr>
}
                </tbody>
            </table>
        </p>
    </div>
</div>    

<!-- Function to show & hide tabs tepending on which tab is currently selected -->
<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("tabType");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  tablinks= document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++){
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(tabName).style.display = "block"; 
  evt.currentTarget.className+= " w3-red";
}
</script>

@functions{
    public static string GetUnreadMessages(int moduleId)
    {
     // Get your unread messages (just like before)
     
        if(moduleId == 1){
            return "1";
        }
        return "3";
    }
}
</body>
