@model Marketplace.Models.UserModel

@{
    ViewData["Titel"] = "Login";
}


<div class="container">
    <label asp-for="Id"><b>User Id:</b></label>
    <input type="text" placeholder="Enter User Id" name="Id" required>

    <label asp-for="Password"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password" name="Password" required>

    <button type="submit">Login</button>
    <label>
</div>









<!--@{
    ViewBag.Title = "UserLogin";
}

<h2>UserLogin</h2>

@using (Html.BeginForm())
{
    <table width="100%">
        <tr>
            <td align="center">
                <table class="table-condensed">
                    <tr>
                        <td align="left">
                        @Html.LabelFor(m => m.Id)
                        </td>
                        <td align="right">
                        @Html.TextBoxFor(m => m.Id)
                        &nbsp;&nbsp;
                        <br />
                        @Html.ValidationMessageFor(m => m.Id)
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                        @Html.LabelFor(m => m.Password)
                        </td>
                        <td align="right">
                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                        &nbsp;&nbsp;
                        <br />
                        @Html.ValidationMessageFor(m => m.Password)
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" align="center">
                        <input type="submit" value="Login" class="btn btn-primary" />
                        </td>
                    </tr>
                </table>
            <br />
            <br />
            @ViewBag.ErrorMessage
        </td>
        </tr>
    </table>
}-->